.metallic-paint-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.paint-container {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}