.target-cursor-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    z-index: 9999;
}

.target-cursor-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.target-cursor-corner {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid white;
}

.corner-tl {
    top: -18px;
    left: -18px;
    border-right: none;
    border-bottom: none;
}

.corner-tr {
    top: -18px;
    left: 6px;
    /* offset by dot size/2 + corner size/2 */
    border-left: none;
    border-bottom: none;
}

.corner-br {
    top: 6px;
    left: 6px;
    border-left: none;
    border-top: none;
}

.corner-bl {
    top: 6px;
    left: -18px;
    border-right: none;
    border-top: none;
}